@import "normalize";

@mixin list-emoji($id, $emoji) {
  &##{$id} {
    &::before {
      content: $emoji;
      margin-right: 0.5rem;
    }
  }
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Roboto Mono", courier new;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0;

  &#title {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  margin: 0.75rem 0;
}

a {
  color: blue;
  text-decoration: none;

  &:visited {
    color: blue;
  }

  &:hover {
    text-decoration: underline;
    background-color: blue;
    color: white;
  }
}

ul {
  padding-left: 0;

  li {
    list-style: none;
    list-style-position: outside;
    margin-bottom: 0.5rem;

    @include list-emoji('nerd', '🤓');
    @include list-emoji('professor', '👨‍🏫');
    @include list-emoji('stonks', '📈');
    @include list-emoji('music', '🎧');
    @include list-emoji('tasty', '😋');
    @include list-emoji('golf', '🏌️‍♂️');
    @include list-emoji('coder', '👨‍💻');
    @include list-emoji('kiosk', '🤖');
    @include list-emoji('apple', '📱');
  }
}

footer {
  margin-top: 2rem;
  opacity: 0.5;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#content {
  max-width: 48rem;
  margin: 2rem;
}
